[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6.4"


[packages]

requests = "*"
"boto3" = "*"
sqlalchemy = "*"
"jinja2" = "*"


[dev-packages]

requests-mock = "*"
